body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background: #f5f5f5;
  min-height: 100vh;
  color: #333;
  padding: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.appglass {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #ffffff;
  padding: 20px;
  min-height: 100vh;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.header {
  width: 100%;
  margin-bottom: 20px;

  .navbar {
    display: flex;
    justify-content: center;
    width: 100%;

    .ulnav {
      list-style: none;
      display: flex;
      gap: 15px;
      margin-right: 30px;

      li a {
        text-decoration: none;
        color: #333;
        padding: 8px 12px;
        border: 1px solid #ddd;
        border-radius: 12px;
        transition: all 0.3s ease;
      }

      li a:hover {
        font-weight: 300;
        background-color: #f5f5f5;
        color: #007bff;
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;

  .inputLimit {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: fit-content;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    input[type="number"] {
      flex: 1;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      margin-right: 10px;
    }

    button {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    button:hover {
      background-color: #0056b3;
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    }
  }
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  width: 200px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 20px;
    margin: 10px 0;
    color: #333;
  }

  p {
    font-size: 14px;
    margin: 5px 0;
    color: #555;
  }

  .delete-btn {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: fit-content;
    margin-top: 10px;
    transition: all 0.3s ease;
  }

  .delete-btn:hover {
    background-color: #cc0000;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  }
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
}

.rtproducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .formContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: fit-content;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    .prodForm {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .form-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 16px;

        label {
          width: fit-content;
          margin-right: 16px;
          color: #333;
        }

        input[type="text"],
        input[type="number"] {
          flex: 1;
          padding: 10px;
          border: 1px solid #ddd;
          border-radius: 4px;
        }
      }

      button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s ease;
      }

      button:hover {
        background-color: #0056b3;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .formContainer:hover {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  }
}
